
<h1> Welcome <%= @visitor%> </h1>
<p> This is your board.</p>
<pre><%= @board %> </pre>

<form action="/board" method="post">
  Please choose a coordinate:
  <!-- <input type="text" name="coord"> -->
  <input type="submit" value="submit">
</form>

<a href="/fire">Fire ar your opponent board.</a>

