<div>
<form action='/New_Game' method='post'>
  What's your name?
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
</div>

<div>
<% if @message %>
  <%=@message %>
  <% end %>
  </div>